# {{ ansible_managed }}

conn {{ item.name }}
    type={{ item.type | default("tunnel") }}
    authby={{ item.auth | default("psk") }}
    auto={{ item.action | default("route") }}
    {{ item.config | default("") | indent(4) }}


#

