# {{ ansible_managed }}

{% for connection in ipsec_connections | default([]) if connection.get("secret", False) %}
# secret for {{ connection.name }}
{{ connection.secret_label + " " if connection.get("secret_label") else "" }}: {{ connection.secret }}
{% endfor %}
