# {{ ansible_managed }}

config setup
        # strictcrlpolicy=yes
        # uniqueids = no
#

conn %default
    ikelifetime=60m
    keylife=20m
    rekeymargin=3m
    keyingtries = %forever
    keyexchange=ikev2
    ike={{ ipsec_default_ike_ciphers | join(",") }}
    esp={{ ipsec_default_esp_ciphers | join(",") }}


#

include {{ ipsec_conf_d_path }}/conn.d/*.conf
