# {{ ansible_managed }}

MONGO_OPLOG_URL={{ rocketchat_oplogmongo_url }}
MONGO_URL={{ rocketchat_mongo_url }}
ROOT_URL={{ rocketchat_root_url }}
{% if rocketchat_admin_user | default(false, true) and rocketchat_admin_password | default(false, true) %}
ADMIN_USERNAME={{ rocketchat_admin_user }}
ADMIN_PASS={{ rocketchat_admin_password }}
ADMIN_EMAIL={{ rocketchat_admin_email }}
{% endif %}
