# {{ ansible_managed }}

ROCKETCHAT_ROOM={{ rocketchat_hubot_room }}
LISTEN_ON_ALL_PUBLIC={{ rocketchat_hubot_all_public | lower }}
ROCKETCHAT_URL={{ rocketchat_hubot_url }}
ROCKETCHAT_USER={{ rocketchat_hubot_user }}
ROCKETCHAT_PASSWORD={{ rocketchat_hubot_password }}
BOT_NAME={{ rocketchat_hubot_name }}
EXTERNAL_SCRIPTS={{ rocketchat_hubot_external_scripts | join(",") }}
