# {{ ansible_managed }}

frontend {{ item.name }}-frontend
    mode tcp
    bind {{ item.bind | default(haproxy_default_bind_address) }}:{{item.port}}
    option tcplog
    default_backend {{ item.name }}-backend

backend {{ item.name }}-backend
    mode tcp
    balance     {{ item.get("balance", haproxy_default_backend_balance_algo) }}
    option      tcplog
{% for option in item.get("options", []) %}
    {{ option }}
{% endfor %}
{% for backend_server in (groups.get(item.get("backend_group"), []) + item.get("backend_servers", [])) | unique | list %}
    server {{backend_server}} {{backend_server}}:{{ item.backend_port | default(item.port) }} {{ item.get("backend_config", "") }}
{% endfor %}
