global:
  scrape_interval:     15s
  evaluation_interval: 30s

rule_files:
  - /etc/prometheus/rules.d/*.rule

scrape_configs:
{% for scrape_type in prometheus_scrape_targets|map(attribute='type')|sort|unique|list %}
  - job_name: {{ scrape_type }}
    file_sd_configs:
      - files:
        - /etc/prometheus/targets.d/{{ scrape_type }}/*.json
{% if prometheus_scrape_configs.get(scrape_type) %}
    {{ prometheus_scrape_configs[scrape_type] | to_nice_yaml(indent=2) | indent(4) }}
{% endif %}
{% endfor %}

alerting:
  alertmanagers:
    - scheme: http
      static_configs:
        - targets:
{% for am in  ((groups.get(prometheus_alertmanager_group,[]) | map('regex_replace','^(.*)$','\\1:9093') | list) + prometheus_alertmanagers) | unique | list %}
          - {{ am }}
{% endfor %}
  alert_relabel_configs:
{% for alert_relabel in prometheus_alert_relabeling %}
    - {{ alert_relabel | to_yaml }}
{% endfor %}
