global:
  scrape_interval:     15s
  evaluation_interval: 30s

rule_files:
  - /etc/prometheus/rules.d/*.rule

scrape_configs:
{% for scrape_type in prometheus_scrape_targets|map(attribute='type')|sort %}
  - job_name: {{ scrape_type }}
    file_sd_configs:
      - files:
        - /etc/prometheus/targets.d/{{ scrape_type }}/*.json
    metric_relabel_configs:
      - source_labels: [__address__]
        regex: '^:\d+'
        action: drop
{% endfor %}

alerting:
  alertmanagers:
    - scheme: http
      static_configs:
        - targets:
{% for am in  ((groups.get(prometheus_alertmanager_group,[]) | map('regex_replace','^(.*)$','\\1:9093') | list) + prometheus_alertmanagers) | unique | list %}
          - {{ am }}
{% endfor %}

  alert_relabel_configs:
    # Drop entries created by null entries in file_sd (and possibly others)
    # The source label drops above don't work on e.g. up
    # https://prometheus.io/docs/operating/configuration/#metric_relabel_configs
    - source_labels: [__address__]
      regex: '^:\d+'
      action: drop
