global:
  scrape_interval:     15s
  evaluation_interval: 30s

rule_files:
  - /etc/prometheus/rules.d/*.rule

scrape_configs:
  - job_name: node_exporter
    file_sd_configs:
      - files:
        - /etc/prometheus/targets.d/node_exporter/*.json
    metric_relabel_configs:
      - source_labels: [__address__]
        regex: '^:\d+'
        action: drop

  - job_name: prometheus
    file_sd_configs:
      - files:
        - /etc/prometheus/targets.d/prometheus/*.json
    metric_relabel_configs:
      - source_labels: [__address__]
        regex: '^:\d+'
        action: drop

  - job_name: docker
    file_sd_configs:
      - files:
        - /etc/prometheus/targets.d/docker/*.json
    metric_relabel_configs:
      - source_labels: [__address__]
        regex: '^:\d+'
        action: drop

  - job_name: haproxy
    file_sd_configs:
      - files:
        - /etc/prometheus/targets.d/haproxy/*.json
    metric_relabel_configs:
      - source_labels: [__address__]
        regex: '^:\d+'
        action: drop

  - job_name: blackbox
    file_sd_configs:
      - files:
        - /etc/prometheus/targets.d/blackbox/*.json
    metric_relabel_configs:
      - source_labels: [__address__]
        regex: '^:\d+'
        action: drop

  - job_name: mysqld
    file_sd_configs:
      - files:
        - /etc/prometheus/targets.d/mysqld/*.json
    metric_relabel_configs:
      - source_labels: [__address__]
        regex: '^:\d+'
        action: drop

  - job_name: consul
    file_sd_configs:
      - files:
        - /etc/prometheus/targets.d/consul/*.json
    metric_relabel_configs:
      - source_labels: [__address__]
        regex: '^:\d+'
        action: drop

  - job_name: graphite
    file_sd_configs:
      - files:
        - /etc/prometheus/targets.d/graphite/*.json
    metric_relabel_configs:
      - source_labels: [__address__]
        regex: '^:\d+'
        action: drop

  - job_name: memcached
    file_sd_configs:
      - files:
        - /etc/prometheus/targets.d/memcached/*.json
    metric_relabel_configs:
      - source_labels: [__address__]
        regex: '^:\d+'
        action: drop

  - job_name: statsd
    file_sd_configs:
      - files:
        - /etc/prometheus/targets.d/statsd/*.json
    metric_relabel_configs:
      - source_labels: [__address__]
        regex: '^:\d+'
        action: drop

alerting:
  alertmanagers:
    - scheme: http
      static_configs:
        - targets:
{% for am in  ((groups.get(prometheus_alertmanager_group,[]) | map('regex_replace','^(.*)$','\\1:9093') | list) + prometheus_alertmanagers) | unique | list %}
          - {{ am }}
{% endfor %}

  alert_relabel_configs:
    # Drop entries created by null entries in file_sd (and possibly others)
    # The source label drops above don't work on e.g. up
    # https://prometheus.io/docs/operating/configuration/#metric_relabel_configs
    - source_labels: [__address__]
      regex: '^:\d+'
      action: drop
