[Unit]
Description=Prometheus Server
After=network.target
Documentation=https://prometheus.io/docs/introduction/overview/

[Service]
WorkingDirectory=/opt/prometheus
EnvironmentFile=-/etc/sysconfig/prometheus
ExecStart=/opt/prometheus/current/prometheus $OPTIONS
User=prometheus
Group=prometheus
ProtectSystem=full
UMask=0027
ReadOnlyPaths=/etc/prometheus /opt/prometheus
ReadWritePaths=/opt/prometheus/data /opt/prometheus/logs
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
