[
  {% for group in item.groups |default([])| sort %}
  {
    "targets": [
      {% for target in groups.get(group,[]) %}
        "{{ target }}:{{ item.port }}",
      {% endfor %}
      null
    ],
    "labels": {
      "monitoring_group":  "{{ item.name }}"
    }
  },
  {% endfor %}

  {% if item.targets | default(false, true) %}
  {
    "targets": {{ item.targets | to_json }},
    "labels": {
      "monitoring_group":  "{{ item.name }}"
    }
  },
  {% endif %}
  {"targets": []}
]
