[
  {
    "targets": [
{% for host in groups.get(item.target_group| default(""),[]) | unique | list %}
        "{{host}}:{{item.port}}"{{"" if loop.last else ","}}
{% endfor %}
    ],
    "labels": {
      "monitoring_group":  "{{ item.name }}"
    }
  },
  {% if item.targets | default(false, true) %}
  {
    "targets": {{ item.targets | to_json }},
    "labels": {
      "monitoring_group":  "{{ item.name }}"
    }
  },
  {% endif %}
  {"targets": []}
]
