[
  {
    "targets": [
{% for host in item.groups |default([]) | map('extract',groups) | sum(start=[]) | unique | list | sort %}
        "{{host}}:{{item.port}}"{{"" if loop.last else ","}}
{% endfor %}
    ],
    "labels": {
      "monitoring_group":  "{{ item.name }}"
    }
  },
  {% if item.targets | default(false, true) %}
  {
    "targets": {{ item.targets | to_json }},
    "labels": {
      "monitoring_group":  "{{ item.name }}"
    }
  },
  {% endif %}
  {"targets": []}
]
