# {{ ansible_managed }}

difok = {{ pam_pwquality_difok }}
minlen = {{ pam_pwquality_minlen }}
dcredit = {{ pam_pwquality_dcredit }}
ucredit = {{pam_pwquality_ucredit}}
lcredit = {{pam_pwquality_lcredit}}
ocredit = {{pam_pwquality_ocredit}}
minclass = {{pam_pwquality_minclass}}
maxrepeat = {{pam_pwquality_maxrepeat}}
maxclassrepeat = {{pam_pwquality_maxclassrepeat}}
gecoscheck = {{pam_pwquality_gecoscheck}}
dictpath = {{pam_pwquality_dictpath }}
