# {{ ansible_managed }}

FLANNELD_SUBNET_FILE=/run/flannel/{{ flannel_service_name }}.env

FLANNELD_ETCD_ENDPOINT={{ flannel_etcd_endpoints | join(",") }}
FLANNELD_ETCD_PREFIX={{ flannel_etcd_prefix }}

FLANNELD_HEALTHZ_IP={{ flannel_health_ip }}
FLANNELD_HEALTHZ_PORT={{ flannel_health_port }}

{{ flannel_env_config }}

