# {{ ansible_managed }}

DefaultZone=drop
MinimalMark=100
CleanupOnExit=yes
Lockdown=yes
IPv6_rpfilter=yes
IndividualCalls=no
LogDenied={{ 'all' if firewalld_log_denied else 'none' }}
AutomaticHelpers=system
