# {{ ansible_managed }}
[Unit]
Description=Consul Agent
After=network-online.target
Documentation=https://www.consul.io/intro/index.html

[Service]
Type=simple
Restart=on-failure
WorkingDirectory=/opt/consul
EnvironmentFile=-/etc/consul/env.d/consul.env
ExecStart=/usr/local/bin/consul agent --config-dir /etc/consul/conf.d/ \
    --config-dir /etc/consul/service.d/ \
    --config-dir /etc/consul/check.d/ \
    $OPTIONS
User=consul
Group=consul
ProtectSystem=yes
UMask=0027
ReadOnlyPaths=/
ReadWritePaths=/opt/consul/data
PrivateTmp=yes
CPUAccounting=true
MemoryAccounting=true
NoNewPrivileges=yes
SecureBits=keep-caps
AmbientCapabilities=CAP_IPC_LOCK
CapabilityBoundingSet=CAP_SYSLOG CAP_IPC_LOCK
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
