# {{ ansible_managed }}
[Unit]
Description=Consul Agent
After=network.target
Documentation=https://www.consul.io/intro/index.html

[Service]
Type=notify
Restart=always
WorkingDirectory=/opt/consul
EnvironmentFile=-/etc/consul/env.d/consul.env
ExecStart=/usr/local/bin/consul agent --config-dir /etc/consul/conf.d/ \
    --config-dir /etc/consul/service.d/ \
    --config-dir /etc/consul/check.d/ \
    $OPTIONS
User=consul
Group=consul
ProtectSystem=full
UMask=0027
ReadWritePaths=/opt/consul/data
PrivateTmp=yes
CPUAccounting=true
MemoryAccounting=true

[Install]
WantedBy=multi-user.target
