# {{ ansible_managed }}

[Unit]
Description=Unbound recursive Domain Name Server
After=syslog.target network.target
After=unbound-keygen.service
Wants=unbound-keygen.service
Wants=unbound-anchor.timer
Before=nss-lookup.target
Wants=nss-lookup.target

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/unbound
ExecStartPre=/usr/sbin/unbound-checkconf /etc/unbound/unbound.conf
ExecStartPre=-/usr/sbin/unbound-anchor -a /var/lib/unbound/root.key -c /etc/unbound/icannbundle.pem
ExecStartPre=/usr/sbin/unbound-checkconf /etc/unbound/unbound.conf
ExecStart=/usr/sbin/unbound -d -c /etc/unbound/unbound.conf $UNBOUND_OPTIONS
PrivateTmp=true
RuntimeDirectory=unbound
PrivateTmp=yes
CPUAccounting=true
MemoryAccounting=true


[Install]
WantedBy=multi-user.target
