# {{ ansible_managed }}

PEERS="{{ (groups.get(weave_net_peer_group, []) + weave_net_peer_list | set | list - [ansible_hostname]) | join(" ") }}"
IPRANGE=""
OPTIONS="{{ weave_net_cli_options | join(" ") }}"
