# {{ ansible_managed }}

PEERS={{ (groups.get(weave_net_peer_group, []) + weave_net_peer_list | difference([ansible_hostname, inventory_hostname]) | unique | list)  | join(" ") }}
IPRANGE={{ weave_net_ip_range }}
OPTIONS={{ weave_net_cli_options | join(" ") }}
PASSWORD={{ weave_net_password }}
