[Unit]
Description=Prometheus node-exporter
After=network.target
Documentation=https://github.com/prometheus/node_exporter

[Service]
WorkingDirectory=/opt/prometheus_node_exporter
EnvironmentFile=-/etc/prometheus_node_exporter/node_exporter.env
ExecStart=/opt/prometheus_node_exporter/current/node_exporter $OPTIONS
User=prometheus_node_exporter
Group=prometheus
ProtectSystem=strict
UMask=0027
ReadOnlyPaths=/ /proc /sys
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
